<template>
    <div class="hello">
        <h1>Current temperature:</h1>
        <Temperature
            :temperature="currentTemperature"
            v-if="currentTemperature"
        ></Temperature>
    </div>
</template>

<script>
    import gql from "graphql-tag";
    import Temperature from "./Temperature.vue";
    export default {
        name: "CurrentTemperature",
        components: {
            Temperature,
        },
        props: {
            msg: String,
        },
        apollo: {
            currentTemperature: gql`
                query {
                    currentTemperature {
                        timestamp
                        value
                        unit
                    }
                }
            `,
            $subscribe: {
                currentTemperatureSubscribe: {
                    query: gql`
                        subscription {
                            currentTemperatureSubscribe {
                                temperature {
                                    timestamp
                                    value
                                    unit
                                }
                            }
                        }
                    `,
                    result({ data }) {
                        this.currentTemperature =
                            data.currentTemperatureSubscribe.temperature;
                    },
                },
            },
        },
    };
</script>

<style>
    h3 {
        margin: 40px 0 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
