<template>
    <div>
        <p>{{ date.toLocaleString() }}</p>
        <p>{{ temperature.value }}°{{ temperature.unit }}</p>
    </div>
</template>

<script>
    export default {
        name: "Temperature",
        props: {
            temperature: Object,
        },
        computed: {
            date() {
                return new Date(this.temperature.timestamp * 1000);
            },
        },
    };
</script>

<style>
</style>
