<template>
    <div id="app">
        <CurrentTemperature msg="Welcome to Your Vue.js App" />
    </div>
</template>

<script>
    import CurrentTemperature from "./components/CurrentTemperature.vue";

    export default {
        name: "App",
        components: {
            CurrentTemperature,
        },
    };
</script>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
